<% if @name %>
<h1>My name is <%= @name %>.</h1>
<% end %>

<% if @colour %>
<h2>I am <%= @colour %>.</h2>
<% end %>

<img src='http://bit.ly/1eze8aE' style='border:medium dashed red'>



<!-- #div thing -->
